@import "tailwindcss";

@layer base {

  html,
  body {
    height: 100%;
    overflow: hidden;
    /* Prevent page scrolling */
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #191919;
    /* Theme Background */
    color: #F3F3EE;
    /* Theme Text */
  }
}

/* Custom Scrollbar for internal containers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border: 1px solid #191919;
}

::-webkit-scrollbar-thumb:hover {
  background: #F6D883;
}